DIGEN_PROVIDER=mock
DIGEN_API_BASE_URL=
DIGEN_API_TOKEN=
DIGEN_PLAYWRIGHT_BASE_URL=
DIGEN_PLAYWRIGHT_USERNAME=
DIGEN_PLAYWRIGHT_PASSWORD=
DIGEN_DB_PATH=./data/digen.db
DIGEN_TEMP_DIR=./tmp
DIGEN_REDIS_URL=
DIGEN_REQUEST_TIMEOUT_SECONDS=30
DIGEN_RETRY_ATTEMPTS=3
DIGEN_LOG_LEVEL=INFO
DIGEN_RESULT_URL_TTL_SECONDS=3600
DIGEN_HTTP_HOST=127.0.0.1
DIGEN_HTTP_PORT=8000
